.participant-card {
  border-radius: 2px;
  padding: 10px 13px 7px 11px;
  transition: background-color 0.2s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover, &--selected {
    background-color: var(--bg-weight-500);
  }

  &__main-info {
    display: flex;
    align-items: center;
  }

  &__avatar {
    margin-right: 10px;
  }

  &__role-avatar {
    margin-right: 5px;
  }

  &__user-name {
    font-weight: var(--weight-bold);
    font-size: var(--size-regular);
    line-height: 13px;
    color: var(--text-primary-color);
    margin-bottom: 3px;
  }

  &__user-role {
    color: var(--text-secondary-color);
    font-size: 10px;
    line-height: 14px;
    display: flex;
    align-items: center;
  }

  &__additional-info {
    display: flex;
    align-items: center;
  }

  &__date-time {
    color: var(--text-secondary-color);
    font-size: 10px;
  }

  &__new-messages-indicator {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: transparent;
    margin-left: 3px;
    transition: background-color 0.2s ease-in-out;

    &--has-new {
      background-color: var(--blue-500);
    }
  }
}
