.participant-card {
  border-radius: 2px;
  padding: 10px 13px 7px 11px;
  transition: background-color 0.2s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    background-color: var(--bg-weight-500);
  }

  &__main-info {
    display: flex;
  }

  &__avatar {
    margin-right: 10px;
  }
}
