<div *ngIf="participant" class="participant-card u-cursor u-cursor--pointer">
  <div class="participant-card__main-info">
    <smp-avatar class="participant-card__avatar" [size]="avatarSize.Small" [name]="participant.userName"
                [image]="participant.image || undefined"
                showInitials></smp-avatar>
    <div class="participant-card__user-info-container">
      <div class="participant-card__user-name">
        <smp-highlight [query]="participantsSearchFilter$ | async">{{participant.userName}}</smp-highlight>
      </div>
      <div class="participant-card__user-role">
        <smp-avatar class="participant-card__role-avatar avatar-squared" [size]="avatarSize.Xsmall"
                    [name]="participant.roleTitle"
                    showInitials></smp-avatar>
        <span>{{participant.roleTitle}}</span>
      </div>
    </div>
  </div>
  <div class="participant-card__additional-info">
    <span class="participant-card__date-time">
      {{participant.lastMessageTime | date : 'EEE hh:mm a'}}
    </span>
    <span class="participant-card__new-messages-indicator"
          [class.participant-card__new-messages-indicator--has-new]="participant.hasNewMessages"></span>
  </div>
</div>
