<div *ngIf="messagesGroup" class="messages-group">
  <h5 class="messages-group__title">
    {{(messagesGroup.date | isToday) ? 'Today' : (messagesGroup.date | date : 'MMM d')}}
  </h5>
  <app-chat-message *ngFor="let message of messagesGroup.messages; trackBy: trackById; let isFirst = first; let i = index"
                    [message]="message"
                    [senderSameAsPrevious]="message.fromMember === messagesGroup.messages[i - 1]?.fromMember"
                    [senderSameAsNext]="message.fromMember === messagesGroup.messages[i + 1]?.fromMember"
                    [isFirst]="isFirst"></app-chat-message>
</div>
