.channel-card {
  border-radius: 2px;
  padding: 12px 8px 12px 7px;
  transition: background-color 0.2s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 22px;

  &:hover, &--selected {
    background-color: var(--bg-weight-500);
  }

  &__main-info {
    display: flex;
    align-items: center;
  }

  &__avatar {
    margin-right: 10px;
  }

  &__user-name {
    font-weight: var(--weight-bold);
    font-size: var(--size-regular);
    color: var(--text-primary-color);
    margin-bottom: 10px;
  }

  &__last-message {
    color: var(--text-secondary-color);
    font-size: var(--size-regular);
  }

  &__date-time {
    color: var(--text-secondary-color);
    font-size: var(--size-regular);
  }

  &__new-messages-indicator {
    display: block;
    margin-right: 0px;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: transparent;
    transition: all 0.2s ease-in-out;

    &--has-new {
      background-color: var(--blue-500);
      width: 8px;
      height: 8px;
      margin-right: 6px;
    }
  }
}
