.chat-dialog-container {
  display: block;
  width: 70vw; // TODO: make configurable via input
  height: 60vh;

  .chat-dialog {
    border-top: none;
    height: 100%;
    display: flex;
    flex-direction: column;

    &__content {
      height: 100%;
    }
  }
}
