.channels-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-channels {
  flex: 1 1 auto;
  overflow-y: auto;
  height: 0; // The element will have height because flexbox recalculates it unless you want a min-height
  position: relative;
}
