.selected-chat-channel {
  border-bottom: 1px solid var(--bg-weight-400);
  padding: 8px 19px 17px 19px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__avatar {
    margin-right: 11px;
  }

  &__title {
    color: var(--text-primary-color);
    font-size: var(--size-heading-4);
    font-weight: var(--weight-semibold);
    margin-bottom: 8px;
  }

  &__role-avatar {
    margin-right: 8px;

    &.simp-avatar {
      .user-image {
        border-radius: 3px;
      }
    }
  }

  &__role {
    font-size: var(--size-regular);
    color: var(--text-secondary-color);
  }
}
