:host {
  display: block;
}

.chat-message {
  margin-bottom: 6px;
  display: flex;
  justify-content: flex-start;
  position: relative;

  &--mine {
    justify-content: flex-end;
  }

  &--offset-top {
    margin-top: 64px;
  }

  &--offset-bottom {
    margin-bottom: 64px;
  }

  &--is-first-unread {
    padding-top: 15px;
  }

  &__unread-info {
    position: absolute;
    left: 0;
    right: 0;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .unread-messages-label {
      color: var(--text-primary-color);
      font-size: var(--size-regular);
      font-weight: var(--weight-semibold);
      padding: 0 16px;
    }

    .line-divider {
      border-bottom: 1px solid var(--text-secondary-color);
      display: block;
      flex: 1;
    }
  }

  &__content {
    background-color: var(--bg-weight-500);
    border-radius: 4px 4px 4px 0;
    padding: 8px 10px;
    font-size: var(--size-regular);
    line-height: var(--size-heading-2);
    max-width: 65%;

    .chat-message--mine & {
      background-color: var(--blue-500);
      border-radius: 4px 0 4px 4px;
      color: var(--light-100);
    }
  }

  &__time {
    position: absolute;
    top: calc(100% + 7px);
    left: 0;
    color: var(--text-secondary-color);
    font-size: 10px;

    .chat-message--mine & {
      left: unset;
      right: 0;
    }
  }
}
